@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">IPS Salud Integral</h1>
    <p>Centro de salud de confianza.</p>
    <a class="btn-primary" asp-area="" asp-page="./Persona/Registro">Registrarse</a>
    <a class="btn-primary" asp-area="" asp-page="./Persona/Registro">Login</a>
</div>

