@page
@using Agendamiento.App.Dominio
@model Agendamiento.App.Frontend.Pages.Persona.MedicoModel
@{
}
<h1 class="display-4">Registro para medicos</h1>
<form method="post" class="row g-3">
  <div class="col-md-4">
    <label asp-for="medico.Nombre" class="form-control">Nombre</label>
    <input asp-for="medico.Nombre" class="form-control"  placeholder="Nombre">
  </div>
  <div class="col-md-4">
    <label asp-for="medico.Apellido" class="form-control">Apellido</label>
    <input asp-for="medico.Apellido" class="form-control" placeholder="Apellido">
  </div>
  <div class="col-md-4">
    <label asp-for="medico.NumeroDocumento" class="form-control"></label>
    <input asp-for="medico.NumeroDocumento" class="form-control" placeholder="Numero de identificacion">
  </div>
  <div class="col-md-8">
    <label asp-for="medico.Direccion" class="form-control">Direccion</label>
    <input asp-for="medico.Direccion" class="form-control" placeholder="Direccion">
  </div>
  <div class="col-auto">
    <label asp-for="medico.Ciudad" class="form-control">Ciudad</label>
    <select asp-for="medico.Ciudad" asp-items="Html.GetEnumSelectList<Ciudad>()" class="form-control">
    </select>
  </div>
  <div class="col-md-6">
    <label asp-for="medico.Email" class="form-control">Email</label>
    <input asp-for="medico.Email" class="form-control" placeholder="tucorreo@mail.com">
  </div>
  <div class="col-md-6">
    <label asp-for="medico.NumeroTelefono" class="form-control">Telefono</label>
    <input asp-for="medico.NumeroTelefono" class="form-control" placeholder="Numero de telefono">
  </div>
   <div class="col-md-6">
    <label asp-for="medico.Edad" class="form-control">Edad</label>
    <input asp-for="medico.Edad" class="form-control" placeholder="Edad">
  </div>
  <div class="col-auto">
    <label asp-for="medico.Genero" class="form-control">Genero</label>
    <select asp-for="medico.Genero" asp-items="Html.GetEnumSelectList<Genero>()"class="form-control">
    </select>
  </div>

  <div class="col-md-6">
    <label for="inputUser" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="inputUser" placeholder="user">
  </div>
  <div class="col-md-6">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword">
  </div>
  <div class="col-12">
    <label for="inputIps" class="form-label">Sede Ips</label>
    <input type="text" class="form-control" id="inputIps" placeholder="Sede">
  </div>
  <div class="col-md-6">
    <label asp-for="medico.TarjetaPro" class="form-control">Tarjeta Profesional</label>
    <input asp-for="medico.TarjetaPro" class="form-control" placeholder="Numero TP">
  </div>
  <div class="col-auto">
    <label asp-for="medico.Genero" class="form-control">Especialidad Medica</label>
    <select asp-for="medico.Genero" asp-items="Html.GetEnumSelectList<Especialidad>()" class="form-control">
    </select>
  </div>  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Crear medico</button>
  </div>
</form>
