@page
@using Agendamiento.App.Dominio 
@model Agendamiento.App.Frontend.Pages.Persona.RegistroModel
@{
}
<h1 class="display-4">Formulario de Registro</h1>
<form method="post" class="row g-3">
  <div class="col-md-4">
    <label asp-for="paciente.Nombre" class="form-control"></label>
    <input asp-for="paciente.Nombre" class="form-control" placeholder="Nombre">
  </div>
  <div class="col-md-4">
    <label asp-for="paciente.Apellido" class="form-control"></label>
    <input asp-for="paciente.Apellido" class="form-control" placeholder="Apellido">
  </div>
  <div class="col-md-4">
    <label asp-for="paciente.NumeroDocumento" class="form-control"></label>
    <input asp-for="paciente.NumeroDocumento" class="form-control" placeholder="Numero de identificacion">
  </div>
  <div class="col-md-8">
    <label asp-for="paciente.Direccion" class="form-control"></label>
    <input asp-for="paciente.Direccion" class="form-control" placeholder="Direccion">
  </div>
  <div class="col-auto">
    <label asp-for="paciente.Ciudad" class="form-control"></label>
    <select asp-for="paciente.Ciudad" asp-items="Html.GetEnumSelectList<Ciudad>()" class="form-control">
    </select>
  </div>
  <div class="col-md-6">
    <label asp-for="paciente.Email" class="form-control"></label>
    <input asp-for="paciente.Email" class="form-control" placeholder="tucorreo@mail.com">
  </div>
  <div class="col-md-6">
    <label asp-for="paciente.NumeroTelefono" class="form-control"></label>
    <input asp-for="paciente.NumeroTelefono" class="form-control" placeholder="Numero de telefono">
  </div>
   <div class="col-md-6">
    <label asp-for="paciente.Edad" class="form-control"></label>
    <input asp-for="paciente.Edad" class="form-control" placeholder="Edad">
  </div>
  <div class="col-auto">
    <label asp-for="paciente.Genero" class="form-control"></label>
    <select asp-for="paciente.Genero" asp-items="Html.GetEnumSelectList<Genero>()" class="form-control">
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Crear Paciente</button>
  </div>
</form>

 
  