@page
@using Agendamiento.App.Dominio
@model Agendamiento.App.Frontend.Pages.SedesIps.CrearSedesModel
@{
}
<h1 class="display-4">Sedes Ips</h1>
<form method="post" class="row g-3">
  <div class="col-md-4">
    <label asp-for="sedeIps.Nombre" class="form-control">Nombre de sede</label>
    <input asp-for="sedeIps.Nombre" class="form-control" placeholder="Nombre">
  </div>
  <div class="col-md-4">
    <label asp-for="sedeIps.Direccion" class="form-control">Direccion</label>
    <input asp-for="sedeIps.Direccion" class="form-control" placeholder="Direccion">
  </div>
  <div class="col-md-4">
    <label asp-for="sedeIps.Ciudad" class="form-control">Ciudad</label>
    <select asp-for="sedeIps.Ciudad" asp-items="Html.GetEnumSelectList<Ciudad>()" class="form-control">
    </select>
  </div>  
  <div class="col-md-6">
    <label asp-for="sedeIps.Email" class="form-control">Email</label>
    <input asp-for="sedeIps.Email" class="form-control" placeholder="tucorreo@mail.com">
  </div>
  <div class="col-md-6">
    <label asp-for="sedeIps.Telefono" class="form-control">Telefono</label>
    <input asp-for="sedeIps.Telefono" class="form-control" placeholder="Numero de telefono">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Crear Sede</button>
  </div>
</form>