@page
@model Agendamiento.App.Frontend.Pages.SedesIps.CrearSedesModel
@{
}
<h1 class="display-4">Sedes Ips</h1>
<form class="row g-3">
  <div class="col-md-4">
    <label for="inputName" class="form-label">Nombre de sede</label>
    <input type="text" class="form-control" id="inputName" placeholder="Nombre">
  </div>
  <div class="col-md-4">
    <label for="inputAddress" class="form-label">Direccion</label>
    <input type="text" class="form-control" id="inputLastName" placeholder="Direccion">
  </div>
  <div class="col-md-4">
    <label for="inputCity" class="form-label">Ciudad</label>
    <select id="inputCity" class="form-select">
      <option selected>Manizales</option>
      <option>Pereira</option>
      <option>Armenia</option>
      <option>Medellin</option>
    </select>
  </div>  
  <div class="col-md-6">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="tucorreo@mail.com">
  </div>
  <div class="col-md-6">
    <label for="inputPhone" class="form-label">Telefono</label>
    <input type="text" class="form-control" id="inputPhone" placeholder="Numero de telefono">
  </div>
</form>